@using Microsoft.AspNetCore.Identity
@using DDACAssignment.Areas.Identity.Data


@inject SignInManager<DDACAssignmentUser> SignInManager
@inject UserManager<DDACAssignmentUser> UserManager

<ul class="navbar-nav">

    @{
        var user = await UserManager.GetUserAsync(User); //get all user details stored in aspnetusers
    }

    @if (SignInManager.IsSignedIn(User) && user.Role.Equals("Admin")) //compare with the roles registered into user details
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="UserInfo" asp-action="Index">User Information List</a>
        </li>
    }
    else if (SignInManager.IsSignedIn(User) && user.Role.Equals("Composer")) //compare with the roles registered into user details
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Songs" asp-action="Index">View Songs</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="SQSManager" asp-action="Index">Show Recording Sessions</a>
        </li>
    }
    else if (SignInManager.IsSignedIn(User) && user.Role.Equals("Producer")) //compare with the roles registered into user details
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Songs" asp-action="Index">View Songs</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="SQSManager" asp-action="Index">Show Recording Sessions</a>
        </li>
    }
    else if (SignInManager.IsSignedIn(User) && user.Role.Equals("Artist Manager")) //compare with the roles registered into user details
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="RecordingSessions" asp-action="Index">Recording Session List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="UploadImage" asp-action="Index">Upload Artist Image</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="UploadImage" asp-action="ViewImages">Artist Information</a>
        </li>
    }
    else
    {
        <!--<li class="nav-item">-->
        <!--<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>-->
        <!--</li>-->
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
